.bg {
    background-image: url('../../../assets/Imagenes/home.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(5px);
    z-index: -1;
    
}
.container{
    min-width: 20em;
    min-height: 5em;
    width: 40%;

    height: 50%;
    margin: auto;
    padding: 2em;
    margin-top: 20%;
    border-radius: .5em;
    background-color: rgba($color: black, $alpha: .5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    // gap: 0.5em;
    flex-wrap: wrap;
    button {
        min-width: 10em;
        min-height: 2em;
        transition:  0.3s ease-out;
    }
}
button:hover {
    background-color: violet;
    font-weight: bolder;
    border-radius: 50%;
}
.btn-success{
    background-color: pink;
    color: black;
    border: 0;
}