<div class="col-12 row">
    <h2 class="col-6 offset-2 newBorder">Personas</h2>
    <div class="col-2 offset-1">
        <label class="btn btn-success " (click)="createNewPerson()" data-bs-toggle="modal"
            data-bs-target="#detailModal"> Añadir Persona </label>
    </div>
</div>
<div class="col-8 offset-2 row border">
    <div class="col-12 row">
        <div class="col-1"></div>
        <div class="col-4">Nombre</div>
        <div class="col-4">Apellidos</div>
        <div class="col-1">Edad</div>
        <div class="col-2"></div>

    </div>
    <div>
        <div class="col-12 row rows mb-1" *ngFor="let persona of personas.result">
            <div class="col-1">
                <label class="btn col-3" (click)="gotoDetailPersona(persona.id)" data-bs-toggle="modal"
                    data-bs-target="#detailModal">
                    &#9998;
                </label>
                <label class="btn offset-2 col-3" (click)="deletePersona(persona.id)">
                    <b>X</b>
                </label>
            </div>
            <div [innerText]="persona.nombre" class="col-4 pt-1"></div>
            <div class="col-4 pt-1">{{persona.p_Apellido}} , {{persona.s_Apellido}}</div>
            <div class="col-1 pt-1">{{persona.edad}}</div>
            <div class="col-2 pt-1" *ngIf="!persona.isPatient">
                <button class="btn btn-success" (click)="gotoCreatePaciente(persona.id)"> Añadir como Paciente</button>
            </div>
        </div>
    </div>
</div>
<nav aria-label="Page navigation example" class="col mt-2 d-flex justify-content-center">

    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" (click)="goToPage(-1)" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li *ngFor="let numero of listPages" class="page-item" [ngClass]="numero == currentPage?'active':''"><a
                (click)="pagesSelected(numero)" class="page-link">{{numero}}</a></li>
        <li class="page-item">
            <a class="page-link" (click)="goToPage(1)" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

<!-- Modal -->
<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="col-10 offset-1 row" [formGroup]="personaForm" (ngSubmit)="saveDataPersona()">
                <div class="modal-header">
                    <h2 class="col-10 offset-1 mb-2 pb-2 mt-3" style="border-bottom: solid 1px red;">{{!personExist ?
                        'Crear Persona' :'Editar Persona'}} </h2>
                </div>
                <div class="modal-body row">
                    <div class=" mb-2 col-12 d-flex justify-content-between align-items-center">
                        <div>
                            <label for="nombre">Nombre Persona</label>
                        </div>
                        <div>
                            <input class="offset-1 form-control w-100" formControlName="nombre" type="text">
                        </div>
                    </div>
                    <div class="mb-2 col-12 d-flex justify-content-between align-items-center">
                        <div>
                            <label for="p_Apellido ">Primer Apellido</label>
                        </div>
                        <div>
                            <input class="offset-1 form-control w-100" formControlName="p_Apellido" type="text">
                        </div>
                    </div>
                    <div class=" mb-2 col-12 d-flex justify-content-between align-items-center">
                        <div>
                            <label for="s_Apellido">Segundo Apellido</label>
                        </div>
                        <div>
                            <input class="offset-1 form-control" formControlName="s_Apellido" type="text">
                        </div>
                    </div>
                    <div class="mb-2 col-12 d-flex justify-content-between align-items-center">
                        <div>
                            <label for="edad">Edad</label>
                        </div>
                        <div>
                            <input class="offset-1 form-control" formControlName="edad" type="number">
                        </div>
                    </div>
                    <div class=" mb-2 col-12 d-flex justify-content-between align-items-center">
                        <div>
                            <label for="estado">Estado</label>
                        </div>
                        <div>
                            <select class=" offset-1 form-select w-100" formControlName="estado" type="number">
                                <option *ngFor="let estado of estadosSelect" value="{{estado.id}}">{{estado.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!-- <div class="flex"> -->
                    <div class="col-6 offset-6">
                        <label class="btn btn-secondary col-5" data-bs-dismiss="modal" (click)="goBack()">Cerrar</label>
                        <button type="submit" data-bs-dismiss="modal"
                            class="btn btn-success col-5 offset-1 ">{{personExist ? 'Guardar' :
                            'Crear'}}</button>
                    </div>
                    <!-- </div> -->
                </div>
            </form>
        </div>
    </div>
</div>