<h2 class="col-10 offset-1 mb-2 pb-2 mt-3" style="border-bottom: solid 1px red;">{{!hospitalExist ? 'Crear Hospital' : hospitalExist ?'Editar Hospital':''}} </h2>


<div class="col-10 offset-1 row" >
    <div class="col-4 mb-2">
        <label class="col-4" for="nombre">Hospital Name</label>
        <input class="col-6"  [(ngModel)]="hospital.nombre" type="text" >
    </div>
    <div class="col-4 mb-2">
        <label class="col-4" for="localizacion">Localization</label>
        <select class="col-6"  type="number" [(ngModel)]="hospital.localizacion">
            <option *ngFor="let location of localitationSelect" value="{{location.id}}">{{location.name}}</option>
        </select>
    </div>
    <div class="col-4 mb-2">
        <label class="col-4" for="especialidades">Specialty</label>
        <input class="col-6"  type="text" [(ngModel)]="hospital.especialidades" >
    </div>
    <div class="col-4 mb-2">
        <label class="col-4" for="capacidad">Capacity</label>
        <input class="col-6"  type="number" [(ngModel)]="hospital.capacidad">
    </div>
    <div >
        <label class="col-4" for="cantTrabajadores">Number of Workers</label>
        <input class="col-6"  type="number" [(ngModel)]="hospital.cantTrabajadores" >
    </div>
    <div class="flex">
        <label class="float-end">
            <label class="btn btn-secondary" (click)="goBack()">Volver</label>
            <button type="button" (click)="saveDataHospital()" class="btn btn-success">{{hospitalExist ? 'Guardar' : !hospitalExist ? 'Crear':''}}</button>
        </label>
    </div>
</div>

